/Ice&Fire_Iteration1/Library/
/Ice&Fire_Iteration1/Logs/
/Ice&Fire_Iteration1/obj/
/Ice&Fire_Iteration1/Packages/
/Ice&Fire_Iteration1/ProjectSettings/
/Ice&Fire_Iteration1/Temp/
/Ice&Fire_Iteration1/UserSettings/
/.idea/
/Ice&Fire_Iteration1/Assets/Asset Packages/Spells Pack/LWRP(URP)/Particles_LWRP/Prefabs/Variations/Spells/
/Ice&Fire_Iteration1/Assets/Asset Packages/Wolf3D/RPM Avatar Pack/Models/FBX/
