/Ice&Fire_Iteration1/Library/
/Ice&Fire_Iteration1/Logs/
/Ice&Fire_Iteration1/obj/
/Ice&Fire_Iteration1/Packages/
/Ice&Fire_Iteration1/ProjectSettings/
/Ice&Fire_Iteration1/Temp/
/Ice&Fire_Iteration1/UserSettings/
/.idea/
